<!doctype html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
    
  </head>
  <body>
  <div style="margin:8px; padding:5px;">
<div class="row">
<div class="row">
<!-- <img src="/media/app_icon.png" class="img-responsive" style="height:50px;width:50px;float:right;margin-right:25px;margin-bottom:5px;" ng-click="goBoxer()"> -->
</div>
</div>
<div class="row" style="text-align:center;">
  <form method="get" action="https://google.co.in/search">
      <table>
	<tr>
	<td>
     	&nbsp;&nbsp; <input type="text" sytyle="width:120px;" name="as_q">
       </td>
	<td>
	&nbsp;&nbsp;&nbsp;&nbsp; <input type="submit" style="" value="&nbsp;Search">
	</td>
	</tr>
	</table>
  </form>
</div>
<div>
<table>
<tr>
<td>
<a href="{{data.key1.url}}">
  <div>
    <div>
    <img src="{{data.key1.iconurl}}">
    </div>
    <div>
        <p>{{data.key1.name}}</p>
    </div>
  </div>
</a>
</td>
<td>
<a href="{{data.key2.url}}">
  <div>
    <div>
    <img src="{{data.key2.iconurl}}">
    </div>
    <div>
	<p>{{data.key2.name}}</p>
    </div>
  </div>
</a>
</td>
<td> 
<a href="{{data.key3.url}}">
  <div>
    <div>
    <img src="{{data.key3.iconurl}}">
    </div>
    <div>
        <p>{{data.key3.name}}</p>
    </div>
  </div>
</a>
</td>
<td>
<a href="{{data.key4.url}}">
  <div>
    <div>
    <img src="{{data.key4.iconurl}}">
    </div>
    <div>
        <p>{{data.key4.name}}</p>
    </div>
  </div>
</a>
</td>
</tr> 
<tr>
<td>
<a href="{{data.key5.url}}">
  <div>
    <div>
    <img src="{{data.key5.iconurl}}">
    </div>
    <div>
        <p>{{data.key5.name}}</p>
    </div>
  </div>
</a>
</td>
<td>
<a href="{{data.key6.url}}">
  <div>
    <div>
    <img src="{{data.key6.iconurl}}">
    </div>
    <div>
  <p>{{data.key6.name}}</p>
    </div>
  </div>
</a>
</td>
<td> 
<a href="{{data.key7.url}}">
  <div>
    <div>
    <img src="{{data.key7.iconurl}}">
    </div>
    <div>
        <p>{{data.key7.name}}</p>
    </div>
  </div>
</a>
</td>
<td>
<a href="{{data.key8.url}}">
  <div>
    <div>
    <img src="{{data.key8.iconurl}}">
    </div>
    <div>
        <p>{{data.key8.name}}</p>
    </div>
  </div>
</a>
</td>
</tr> 
</table>
</div>
<div class="row" style="text-align:center;font-size: 0.5em; margin-top:10px;">
 &nbsp;&nbsp; © 2016 Boxer Internet
  </div>
</div>
</body>
</html>
